body{
    font-family:"Segoe UI";
    background-color:#c04190;
}

h1,h2{
    text-align: center;
    color :#c2eb2f;
}
a{
    color:#28e788;
    text-decoration: none;
}
a:hover{
    color:#04B4AE;
}
li{
    list-style: none;
    display: inline-block;
    margin: 20px;
}
p{
    font-size: 150%;
    color:rgb(221, 198, 198);
}

img.example-image {
    max-height: 300px;
    max-width: 400px;
    float:left; /* Выравнивание по левому краю */
    margin: 20px 20px 20px 0; /* Отступы вокруг картинки */
}

p.audio-text {
    color: black;
}

p.video-text {
    color: red; 
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}